<!-- templates/base.html -->

{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Turnos Medicos{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Página principal</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'specialty_doctors' %}">Oftalmología</a></li>
                    <li><a href="{% url 'profile' %}">Perfil</a></li>
                    <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>© 2024 IFTS 18</p>
    </footer>
</body>
</html>
